<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Home Page </a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About Us </a>
        </li>
        {% if session["logged_in"] %}
        <li class="nav-item active">
            <a class="nav-link" href="/articles">Properties</a>
          </li>
          {% endif %}
      </ul>

      <ul class="navbar-nav ml-auto">
      {% if session["logged_in"]  %}
          {% if session["admin"]==1  %}
          <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Control Panel</a>
            </li>
           <li class="nav-item active">
            <a class="nav-link" href="/register">Add User</a>
          </li>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/register">Add User</a>
          <a class="dropdown-item" href="#">Update User</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">See log files</a>
        </div>
      </li>
          {% endif %}
          <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
            </li>

          {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}


          
          

        
        </ul>
    </div>


  </nav>